body{
    background: #BDBDBD;
}

.jumbotron {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-size: 100% 100%;
}

.display-4{
    background-color: white;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
}

.lead{
    background-color: white;
    height: 100%;
    width: 100%;
}