<section class="container .mr-3">
    <div>
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, dolorum! Nostrum soluta quasi,
            voluptatem, vel porro recusandae ipsa rerum sunt itaque labore iusto unde quaerat eveniet laboriosam Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, optio quis quas ducimus deserunt, quasi non quaerat.</p>
    </div>

    <!--formulario-->
    <form class="container bg-light py-4 pl-3 w-75 p-3">
        <div class="form-group row ml-5">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Your E-mail</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3">
          </div>
        </div>
        
        <div class="form-group row ml-5">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Your message</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    <!--boton-->
        <div class="form-group row p-2 ">
          <div class="col-sm-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
    </form>

</section>
<p>Hello, I'm contact.html</p>