<section class="container .mr-3">
    <div>
        <h2>Portafolio</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, dolorum! Nostrum soluta quasi,
            voluptatem, vel porro recusandae ipsa rerum sunt itaque labore iusto unde quaerat eveniet laboriosam Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, optio quis quas ducimus deserunt, quasi non quaerat.</p>
    </div>

    <!--card-->
    <div class="card-group">
        <div class="card">
          <img src="../assets/img/big-project-image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="card-link">Proyect Name</a>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/img/big-project-image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="card-link">Proyect Name</a>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content. This content is a little bit longer</p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/img/big-project-image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="card-link">Proyect Name</a>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer</p>
          </div>
        </div>
      </div>
</section>

<p>Hello, I'm the portfolio.html</p>